/*
* breakpoints
*/
/*
* grid system
*/
/*
* type
*/
body.ink {
  background-color: #caebff;
  color: #17aaff;
}
body.ink column,
body.ink .column {
  background-color: #b0e2ff;
  border: 2px solid #17aaff;
}
/*
* scaffolding
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  line-height: 1.2em;
}
body {
  font-size: 2em;
}
h1 {
  font-size: 4em;
  letter-spacing: -2px;
}
main {
  margin: 0 auto;
  width: 90%;
}
/*
* breakpoint display
*/
.breakpoint-label {
  position: fixed;
  top: 10px;
  right: 10px;
  color: #222;
  font-size: 24px;
  font-weight: bold;
}
/*
* grid setup
*/
row,
column {
  display: block;
  min-height: 1px;
  position: static;
}
row:before,
div.row:before,
row:after,
div.row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
row:after,
div.row:after {
  clear: both;
}
column,
div.column {
  padding: 20px;
  min-height: 200px;
}
.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11,
.column-12 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 {
    float: left;
  }
  .column-1:first-child,
  .column-2:first-child,
  .column-3:first-child,
  .column-4:first-child,
  .column-5:first-child,
  .column-6:first-child,
  .column-7:first-child,
  .column-8:first-child,
  .column-9:first-child,
  .column-10:first-child,
  .column-11:first-child,
  .column-12:first-child {
    padding-left: 0;
  }
  .column-1:last-child,
  .column-2:last-child,
  .column-3:last-child,
  .column-4:last-child,
  .column-5:last-child,
  .column-6:last-child,
  .column-7:last-child,
  .column-8:last-child,
  .column-9:last-child,
  .column-10:last-child,
  .column-11:last-child,
  .column-12:last-child {
    padding-right: 0;
  }
}
