.presentation{

	h1,h2,h3,h4,h5,h6{
		margin: 0px;
	}

	h1{
		color: #fff;
		&.jumbo{
			margin-top: @b * 8;
			font-size: 10em;
			color: #222;
			.fa-heart{
				color: #c30;
			}
			.fa-code{
				color: @blue;
			}
		}
	}

	h2{
		width: 70%;
		so{
			color: #666;
			display: inline-block;
			text-decoration: line-through;
		}
	}

	section{
		#util > .clearfix();
		position: relative;
		min-height: 100%;
		padding: 240px 120px 120px 120px;
		&.lead,&.green{
			padding: 120px;
			background-attachment: fixed;
			h1,h2,h3,h4,h5,h6{
				color: #fff;
			}
		}
		&.lead{
			background-color: @blue;
		}
		&.green{
			background-color: @green;
		}
		.fa-heart{
			color: #c30;
		}
		.fa-thumbs-up,.fa-thumbs-down{
			margin-right: @b3;
		}
	}

	ul,ol{
		margin-top: 80px;
		font-size: 1.5em;
	}

}