/*
* breakpoints
*/
@mobile-breakpoint: 480px;
@tablet-breakpoint: 768px;
@desktop-breakpoint: 992px;

/*
* grid system
*/
@number-of-columns: 12;
@gutter: 20px;

/*
* type
*/
@sans: Helvetica, Arial, sans-serif;
@serif: "Georgia", serif;

/*
* color
*/
@blue : #08c;
@green: #46bd01;

/*
* measurement
*/
@base: 8px;
@b: @base; // shorthand
@b2: @base * 2;
@b3: @base * 3;
@b4: @base * 4;
@hb: @base * 0.5;